.mediaViewInfo {
	--web-view-name: randing page – 1;
	--web-view-id: randing_page__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: randing_page__1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#randing_page__1 {
	position: absolute;
	width: 390px;
	height: 1682px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: randing page – 1;
	--web-view-id: randing_page__1;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#menu {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 8px;
	top: 8px;
	overflow: visible;
}
#n_3 {
	fill: transparent;
}
.n_3 {
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#n_1 {
	position: absolute;
	width: 20px;
	height: 16px;
	left: 12px;
	top: 14px;
	overflow: visible;
}
#n_1_k {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_k {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 3px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#n_2 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2 {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 3px;
	left: 0px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#n_3_m {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3_m {
	overflow: visible;
	position: absolute;
	width: 23px;
	height: 3px;
	left: 0px;
	top: 16px;
	transform: matrix(1,0,0,1,0,0);
}
#search {
	position: absolute;
	width: 44px;
	height: 44px;
	left: 338px;
	top: 8px;
	overflow: visible;
}
#n_4 {
	fill: transparent;
}
.n_4 {
	position: absolute;
	overflow: visible;
	width: 44px;
	height: 44px;
	left: 0px;
	top: 0px;
}
#n_2_p {
	position: absolute;
	width: 21.591px;
	height: 23.51px;
	left: 11.204px;
	top: 10.245px;
	overflow: visible;
}
#n_1_q {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_q {
	position: absolute;
	overflow: visible;
	width: 18.233px;
	height: 18.233px;
	left: 0px;
	top: 0px;
}
#n_1_r {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1_r {
	overflow: visible;
	position: absolute;
	width: 9.54px;
	height: 10.499px;
	left: 14.874px;
	top: 15.834px;
	transform: matrix(1,0,0,1,0,0);
}
#logo {
	position: absolute;
	width: 145px;
	height: 30px;
	left: 123px;
	top: 17px;
	overflow: visible;
}
#MODERNIST {
	left: 15px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Yu Gothic;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#n_5 {
	fill: transparent;
}
.n_5 {
	position: absolute;
	overflow: visible;
	width: 145px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#main_visual {
	position: absolute;
	width: 390px;
	height: 326px;
	left: 0px;
	top: 72px;
	overflow: visible;
}
#n_6 {
	fill: rgba(188,188,188,1);
}
.n_6 {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 163px;
	left: 0px;
	top: 0px;
}
#n_7 {
	fill: rgba(188,188,188,1);
}
.n_7 {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 163px;
	left: 0px;
	top: 163px;
}
#Text {
	left: 85px;
	top: 150px;
	position: absolute;
	overflow: visible;
	width: 222px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#goods_photos {
	position: absolute;
	width: 144px;
	height: 220px;
	left: 123px;
	top: 423px;
	overflow: visible;
}
#Text_ {
	left: 29px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#n_8 {
	fill: rgba(188,188,188,1);
}
.n_8 {
	position: absolute;
	overflow: visible;
	width: 144px;
	height: 144px;
	left: 0px;
	top: 51px;
}
#n_3_ {
	position: absolute;
	width: 58px;
	height: 10px;
	left: 43px;
	top: 210px;
	overflow: visible;
}
#n_2_ {
	fill: rgba(188,188,188,1);
}
.n_2_ {
	position: absolute;
	overflow: visible;
	width: 10px;
	height: 10px;
	left: 24px;
	top: 0px;
}
#n_3_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,188,188,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_3_ba {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 12px;
	top: 1px;
}
#n_5_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,188,188,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_5_ {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 38px;
	top: 1px;
}
#n_6_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,188,188,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_6_ {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 50px;
	top: 1px;
}
#n_4_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(188,188,188,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_4_ {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 1px;
}
#value {
	position: absolute;
	width: 150px;
	height: 46px;
	left: 34px;
	top: 673px;
	overflow: visible;
}
#Text_ba {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#Text_bb {
	left: 54px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 8px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#button {
	position: absolute;
	width: 155px;
	height: 29px;
	left: 204px;
	top: 683px;
	overflow: visible;
}
#n_9 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_9 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 29px;
	left: 0px;
	top: 0px;
}
#Text_bd {
	left: 32px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 1px;
}
#detail {
	position: absolute;
	width: 361px;
	height: 554px;
	left: 15px;
	top: 769px;
	overflow: visible;
}
#Text_bf {
	left: 137px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#n_7_bg {
	position: absolute;
	width: 148px;
	height: 148px;
	left: 106px;
	top: 261px;
	overflow: visible;
}
#n_11 {
	fill: rgba(188,188,188,1);
}
.n_11 {
	position: absolute;
	overflow: visible;
	width: 148px;
	height: 148px;
	left: 0px;
	top: 0px;
}
#Text_bi {
	left: 56px;
	top: 65px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#n_8_bj {
	position: absolute;
	width: 316px;
	height: 115px;
	left: 22px;
	top: 439px;
	overflow: visible;
}
#n_12 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_12 {
	position: absolute;
	overflow: visible;
	width: 316px;
	height: 115px;
	left: 0px;
	top: 0px;
}
#Text_bl {
	left: 122px;
	top: 49px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#n_9_bm {
	position: absolute;
	width: 361px;
	height: 190px;
	left: 0px;
	top: 46px;
	overflow: visible;
}
#n_4_bn {
	position: absolute;
	width: 107px;
	height: 190px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_10 {
	fill: rgba(188,188,188,1);
}
.n_10 {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 1px;
	top: 0px;
}
#Text_bp {
	left: 0px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 71px;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#n_5_bq {
	position: absolute;
	width: 107px;
	height: 190px;
	left: 127px;
	top: 0px;
	overflow: visible;
}
#n_10_br {
	fill: rgba(188,188,188,1);
}
.n_10_br {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Text_bs {
	left: 0px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 71px;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#n_6_bt {
	position: absolute;
	width: 107px;
	height: 190px;
	left: 254px;
	top: 0px;
	overflow: visible;
}
#n_10_bu {
	fill: rgba(188,188,188,1);
}
.n_10_bu {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 106px;
	left: 0px;
	top: 0px;
}
#Text_bv {
	left: 0px;
	top: 119px;
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 71px;
	line-height: 18px;
	margin-top: -3px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
}
#Text_bw {
	left: 5px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 51px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#Text_bx {
	left: 132px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 34px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#Text_by {
	left: 258px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 98px;
	height: 34px;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#ather_goods {
	position: absolute;
	width: 561px;
	height: 140px;
	left: -191px;
	top: 1373px;
	overflow: visible;
}
#n_1_b {
	position: absolute;
	width: 561px;
	height: 94px;
	left: 0px;
	top: 46px;
	overflow: hidden;
}
#Group {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#n_70998462 {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_b {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 114px;
	top: 0px;
	overflow: visible;
}
#n_70998462_b {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_ca {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 228px;
	top: 0px;
	overflow: visible;
}
#n_70998462_ca {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_cb {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 342px;
	top: 0px;
	overflow: visible;
}
#n_70998462_cb {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_cc {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 456px;
	top: 0px;
	overflow: visible;
}
#n_70998462_cc {
	position: absolute;
	width: 94px;
	height: 94px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Text_cb {
	left: 343px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
#contact {
	position: absolute;
	width: 390px;
	height: 119px;
	left: 0px;
	top: 1564px;
	overflow: visible;
}
#n_13 {
	fill: rgba(188,188,188,1);
}
.n_13 {
	position: absolute;
	overflow: visible;
	width: 390px;
	height: 119px;
	left: 0px;
	top: 0px;
}
#Text_ce {
	left: 152px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans JP;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(0,0,0,1);
	letter-spacing: 2.5px;
}
